body{
    margin: 0;

}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}
html{
    background-color: lavender;
}
h1{
    padding: 30px;
    color: aliceblue;
}

p{
    font-size: 18px;
}

.intro{

    background-color: #2451af;
    border-radius: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.main{
    margin: 0 auto;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    max-width: 1200px;
}

.photo{
    max-width: 300px;
}

.img{
    width: 100px;
}

pre{
    font-size: .9em;
    max-width: 400px;
    padding: 20px;
    border: darkgray 3px solid;
    border-radius: 10px;
    background-color: linen;
}

::marker{
    font-size: 24px;
}
ol{
    min-width: 200px;
}
.list li{
    padding: 5px;
}